<div class="row">
	<div class="col-sm-12">
		<h3>Add Obstacles to Fly Zone:</h3>
		<p>Click within the boundary to add an obstacle to your configuration map. Red dots represent the map configuration boundary and yellow dots represent user added obstacles.</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6">
		<button ng-click="clearMarkers()" class="btn btn-default" style="width:100%;border-radius:0px">
			Clear All Markers
		</button>
	</div>
	<div class="col-sm-6">
		<button ng-click="configureAllObstacles()" class="btn btn-danger" style="width:100%;border-radius:0px">
			Configure All Obstacles
		</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<ng-map style="height:500px;"
			zoom="15"
			center="current-location" 
			on-click="mapClicked()">
			<custom-marker ng-repeat="pos in allMarkers" 
					position="{{pos.lat}},{{pos.lon}}">
				<div class="customMarker"><div>{{pos.id}}</div> </div>
			</custom-marker>
			<custom-marker ng-repeat="pos in configMarkers" 
					position="{{pos.lat}},{{pos.lon}}"
			><div class="customDot"><div></div> </div></custom-marker>
			<custom-marker 
				ng-repeat="pos in obstacleMarkers" 
				position="{{pos.lat}},{{pos.lon}}">
				<div class="customDotObstacle"><div></div></div>
			</custom-marker>
		</ng-map>
	</div>
</div>
<br>
<div ng-repeat="pos in allMarkers">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>ID: {{pos.id}}</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<input type="text" class="form-control"  placeholder="Name" ng-model="pos.name">
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="Radius (feet)" ng-model="pos.radius">
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-danger" ng-click="addObsticle(pos.id)">Add</button>
					<div class="pull-right"><button class="btn btn-default" ng-click="removeObsticle(pos.id)">Remove</button></div>
				</div>
			</div>
		</div>
	</div>
</div>