<div class="row">
	<div class="col-sm-12">
		<h3>Add Obstacles to Fly Zone:</h3>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-12">
		<ng-map style="height:500px;"
			zoom="15"
			center="current-location" 
			on-click="mapClicked()">
			<marker ng-repeat="pos in allMarkers" 
					position="{{pos.lat}},{{pos.lon}}"
					ng-click="markerClicked(pos.id)"
			></marker>
		</ng-map>
	</div>
</div>

<br>

<div ng-repeat="pos in allMarkers">
	<form class="form-inline">
		<label><h3>ID: </h3></label>
		<code>{{pos.id}}  </code>
		<div class="form-group">
		<input type="text" class="form-control"  placeholder="Name" id="{{pos.id}}name">
		</div>
		<div class="form-group">
		<input type="text" class="form-control" placeholder="Radius (meters)" id="{{pos.id}}radius">
		</div>
		<button class="btn" ng-click="formClicked(pos.id)">Remove</button>
	</form>
</div>

<br>

<div class="row">
	<div class="col-sm-6">
		<button ng-click="clearMarkers()" class="btn" style="width:100%;border-radius:0px">Clear all markers</button>
	</div>
	<div class="col-sm-6">
		<div ng-if="mapObstacle.isValid">
			<button ng-click="configureObstacle()" class="btn btn-danger" style="width:100%;border-radius:0px">Configure Map</button>
		</div>
		<div ng-if="mapObstacle.isInvalid">
			<button ng-click="configureObstacle()" class="btn btn-danger" disabled="disabled" style="width:100%;border-radius:0px">Configure Map</button>
		</div>
	</div>
	
</div>

