<div class="row">
	<div class="col-sm-12">
		<h3>Add Obstacle to Fly Zone: 
			<!-- <span class="label label-success" ng-if="alreadyConfigured"> Already Configured</span>
			<span class="label label-danger" ng-if="notConfigured"> Not Configured</span> -->
		</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-6">
		<button ng-click="clearMarkers()" class="btn" style="width:100%;border-radius:0px">Clear all markers</button>
	</div>
	<div class="col-sm-6">
		<div ng-if="mapObstacle.isValid">
			<button ng-click="configureObstacle()" class="btn btn-danger" style="width:100%;border-radius:0px">Configure Map</button>
		</div>
		<div ng-if="mapObstacle.isInvalid">
			<button ng-click="configureObstacle()" class="btn btn-danger" disabled="disabled" style="width:100%;border-radius:0px">Configure Map</button>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-12">
		<ng-map style="height:500px;"
			zoom="15"
			center="current-location" 
			on-click="mapClicked()">
			<marker ng-repeat="pos in allMarkers" position="{{pos.lat}},{{pos.lon}}"></marker>
		</ng-map>
	</div>
</div>

<br>

