<ul class="nav nav-pills nav-justified">
  <li role="presentation"><a href="#/velocity_hist">Velocity</a></li>
  <li role="presentation"><a href="#/altitude_hist">Altitude</a></li>
  <li role="presentation"><a href="#/acceleration_hist">Acceleration</a></li>
  <li role="presentation" class="active"><a href="#/battery_hist">Battery</a></li>
  <li role="presentation"><a href="#/location_hist">Location</a></li>
</ul>
<br>
<div class="row" >
	<div class="col-sm-12" >
		<input ng-show="!toggleInput" class="form-control" type="text" placeholder="Enter a Flight Name" ng-model="searchFilter">
		<div ng-show="toggleInput" class="form-group" style="padding-bottom:20px">
			<datepicker date-month-title="selected year">
			    <input class="form-control"  ng-model="startDate" placeholder="Enter Start Date"/>
			</datepicker>
			<br>
			<br>
			<datepicker date-month-title="selected year">
			    <input class="form-control"  ng-model="endDate" placeholder="Enter End Date"/>
			</datepicker>
   		</div>   		
  	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<div>
			<span ng-if="showBack" class="btn btn-default btn-sm" ng-click="backClicked()">Back</span>
			<span class="btn btn-warning btn-sm" ng-click="toggleInput = !toggleInput">Toggle Flight Name/Date Search</span>
			<span class="btn btn-danger btn-sm" ng-click="searchFlights()">Search Flights</span>
		</div>
		<div style="border-bottom: 1px solid #dddddd; padding-bottom:10px"></div>
	</div>
</div>
<br>
<div ng-if="!showChart">
<div ng-repeat="flight in flights" class="row">
	<div class="col-sm-12">
	<div class="panel panel-default">
	  	<div class="panel-body">
			<div>{{flight.flight_name}}</div>
	  	</div>
	  	<div class="panel-footer">
			<div class="btn btn-default" ng-click="flightSearch(flight._id)">Search Flight</div>
	  	</div>
	</div>	
	</div>
</div>
</div>
<div ng-if="showChart">
	<nvd3 options="options" data="batteries"></nvd3>
</div>
<div class="row">
<div class="col-sm-12">
<div ng-if="noData">
	<div class="alert alert-warning">
	    <strong>No flight data to query</strong>
	</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div ng-if="dataError">
	<div class="alert alert-warning">
	    <strong>Flight data error</strong>
	</div>
</div>
</div>
</div>