<div class="row">
	<div class="col-sm-12">
		<h3>Drone Operation Area Configuration: 
			<span class="label label-success" ng-if="alreadyConfigured"> Already Configured</span>
			<span class="label label-danger" ng-if="notConfigured"> Not Configured</span>
			<span class="label label-success" ng-if="mapConfiguration.isValid">{{mapConfiguration.status}}</span>
			<span class="label label-danger" ng-if="mapConfiguration.isInvalid">{{mapConfiguration.status}}</span>
			<span class="label label-warning" ng-if="configuring">Map Configuring</span>
		</h3>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<p>Select an area below by placing two markers on the map. One should go in the farthest northwest area of operation while the other should go in the farthest southeast area of operation. This configuration will give the DJI Data Manager a better idea of what <strong>you</strong> as the operator need to keep in mind when operating your drone in this specific area. 

			Press the button under the map to configure the location. Every time a location is configured, it overwrites the previous configured location. NOTE: this feature will only be available with a WiFi connection.</p>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-6">
		<button ng-click="clearMarkers()" class="btn btn-default" style="width:100%;border-radius:0px">Clear All Markers</button>
	</div>
	<div class="col-sm-6">
		<div ng-if="mapConfiguration.isValid">
			<button ng-click="configureMap()" class="btn btn-danger" style="width:100%;border-radius:0px">Configure Map</button>
		</div>
		<div ng-if="mapConfiguration.isInvalid">
			<button ng-click="configureMap()" class="btn btn-danger" disabled="disabled" style="width:100%;border-radius:0px">Configure Map</button>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-12">
		<ng-map style="height:500px;"
			zoom="15"
			center="current-location" 
			on-click="mapClicked()">
			<custom-marker ng-repeat="pos in allMarkers" position="{{pos.lat}},{{pos.lon}}">
				<div class="customDot"><div></div> </div>
			</custom-marker>
			<custom-marker ng-repeat="pos in configMarkers" position="{{pos.lat}},{{pos.lon}}">
				<div class="customDot"><div></div> </div>
			</custom-marker>
		</ng-map>
	</div>
</div>

<br>

