<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Raw data for timestamp {{data.altitude.created_at}}</h2>
			</div>
			<div class="panel-body">
				<div><code>Altitude:</code><span> {{data.altitude.alt}}</span></div>
				<div><code>Latitude:</code><span> {{data.location.lat}}</span></div>
				<div><code>Longitude:</code><span> {{data.location.lon}}</span></div>
				<div><code>Acceleration X:</code><span> {{data.acceleration.acc_x}}</span></div>
				<div><code>Acceleration Y:</code><span> {{data.acceleration.acc_y}}</span></div>
				<div><code>Acceleration Z:</code><span> {{data.acceleration.acc_z}}</span></div>
				<div><code>Velocity X:</code><span> {{data.velocity.vel_x}}</span></div>
				<div><code>Velocity Y:</code><span> {{data.velocity.vel_y}}</span></div>
				<div><code>Velocity Z:</code><span> {{data.velocity.vel_z}}</span></div>
				<div><code>Battery:</code><span> {{data.battery.battery}}</span></div>
				<div><code>Obsticle Proximity:</code><span> {{data.safetyReport.value}}</span></div>
			</div>
		</div>
	</div>
</div>