
<div class="row">
	<div class="col-sm-12">
		<button class="btn" ng-click="startFlight('CSV', 'DUMMY')">Start dummy csv flight simulation</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<button class="btn" ng-click="startFlight('CSV', 'HIGH')">Start height safety CSV flight simulation</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<button class="btn" ng-click="startFlight('CSV', 'MAG')">Start magnetic interference CSV flight simulation</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<button class="btn" ng-click="endFlight()">End flight simulation</button>
	</div>
</div>



