<div class="row">
	<div class="col-sm-8">
		<div track-height="mainSection">
			<h2>What is the DJI Data Manager?</h2>
			<p>DJI Data Manager is a web-based application that helps users perform proper pre-flight procedures, enable real-time data collection and analysis of drone flights, and present an overview of historical flight patterns and behaviors to encourage responsible operation and maintenance of personal UAVs. In order to accomplish this mission, DJI Manager is designed with data visualization tools to help average users fly their UAVs in adherence with FAA regulations and provides drone flight data for regulatory assurance of personal UAV flight records if necessary.</p>
			
			<h2>Federal Aviation Administration Regulations</h2>
			<h5>“Make no mistake: unmanned aircraft enthusiast are aviators, and with that title comes a great deal of responsibility...” - U.S. Transportation Secretary Anthony Foxx </h5>
			<p><a href="https://www.faa.gov/news/press_releases/news_story.cfm?newsId=19856">Registration is a statutory requirement that applies to all aircraft.</a> Under this rule, any owner of a small UAS who has previously operated an unmanned aircraft exclusively as a model aircraft prior to December 21, 2015, must register no later than February 19, 2016. Owners of any other UAS purchased for use as a model aircraft after December 21, 2015 must register before the first flight outdoors. Owners may use either the paper-based process or the new streamlined, web-based system.  Owners using the new streamlined web-based system must be at least 13 years old to register. Owners may register through a web-based system at <a href="www.faa.gov/uas/registration">www.faa.gov/uas/registration.</a>
			</p>
		</div>	
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 style="color:blue"><i class="fa fa-twitter"></i> FAA Tweets</h4> 
			</div>
			<div class="panel-body" style="overflow:scroll;height: {{mainHeight}}px;">
				<twitter-timeline ng-if="mainHeight > 0">
				    <a class="twitter-timeline"
				       href="https://twitter.com/faanews"
				       >
				       Tweets from https://twitter.com/IAmAru/lists/food-trucks
				    </a>
				<twitter-timeline>
			</div>
		</div>
	</div>
</div>

