<div class="row">
<div class="col-sm-12">
	<p>Enter your username and password to begin logging your flights and tracking flight data.</p>
</div>
</div>
<br>
<form ng-submit="submit()">
  <div class="form-group">
    <label>Username</label>
    <input type="username" class="form-control"  placeholder="Username" ng-model="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="pass">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>