<div class="row">
<div class="col-sm-12">
	<p>Enter a name, username, password and drone registration ID to begin using the DJI Data Manager. A username must be unique. The drone registration ID can be obtained when your drone is officially registered with the FAA.</p>
</div>
</div>
<br>
<form ng-submit="submit()">
	<div class="form-group">
		<label>Name</label>
		<input type="name" class="form-control"  placeholder="Name" ng-model="name">
	</div>
	<div class="form-group">
    	<label>Username</label>
    	<input type="username" class="form-control"  placeholder="Username" ng-model="username">
	</div>
	<div class="form-group">
    	<label>Password</label>
    	<input type="password" class="form-control" placeholder="Password" ng-model="pass">
	</div>
	<div class="form-group">
    	<label>Drone Registration ID</label>
    	<input type="text" class="form-control" placeholder="Registration ID" ng-model="reg_id">
	</div>
	<button type="submit" class="btn btn-danger">Submit</button>
</form>