<div ng-repeat="note in notifications">
    <div ng-if="note.type == 'hazard'" class="alert alert-danger">
        <button type="button" class="close" ng-click="notificationClicked($index)">×</button>
        <strong>{{note.param}} (at {{note.time}} ms): </strong> {{note.text}}
    </div>
    <div ng-if="note.type == 'warning'" class="alert alert-warning">
        <button type="button" class="close" ng-click="notificationClicked($index)">×</button>
        <strong>{{note.param}} (at {{note.time}} ms): </strong> {{note.text}}
    </div>
    <div ng-if="note.type == 'update'" class="alert alert-info">
        <button type="button" class="close" ng-click="notificationClicked($index)">×</button>
        <strong>{{note.param}} (at {{note.time}} ms): </strong> {{note.text}}
    </div>
</div>




