<ul class="nav nav-pills nav-justified">
	<li role="presentation"><a href="#/flight_console">Incomplete Flights</a></li>
	<li role="presentation" class="active"><a href="#/postflight_console">Completed Flights</a></li>
</ul>
<br>
<div class="row" >
	<div class="col-sm-12" >
		<input ng-show="!toggleInput" class="form-control" type="text" placeholder="Enter a Flight Name" ng-model="searchFilter">
		<div ng-show="toggleInput" class="form-group" style="padding-bottom:20px">
			<datepicker date-month-title="selected year">
			    <input class="form-control"  ng-model="startDate" placeholder="Enter Start Date"/>
			</datepicker>
			<br>
			<br>
			<datepicker date-month-title="selected year">
			    <input class="form-control"  ng-model="endDate" placeholder="Enter End Date"/>
			</datepicker>
   		</div>   		
  	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<div>
			<span class="btn btn-warning btn-sm" ng-click="toggleInput = !toggleInput">Toggle Flight Name/Date Search</span>
			<span class="btn btn-danger btn-sm" ng-click="searchFlights()">Search Flights</span>
		</div>
		<div style="border-bottom: 1px solid #dddddd; padding-bottom:10px"></div>
	</div>
</div>
<br>


<div class="row">
<div class="col-sm-12">
<div ng-if="noFlightData">
	<div class="alert alert-warning">
	    <strong>No flight data</strong>
	</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div ng-if="flightDataError">
	<div class="alert alert-warning">
	    <strong>Flight data error</strong>
	</div>
</div>
</div>
</div>

<div ng-repeat="flight in flights">
<div class="row">
<div class="col-sm-12">
	<div class="panel panel-default">
  		<div class="panel-heading">
  			<i class="fa fa-plane"></i> {{flight.flight_name}} 
  			<span class="pull-right"><i class="fa fa-clock-o"></i> {{flight.created_at}}</span>
  		</div>
	  	<div class="panel-body">
			<button class="btn btn-default btn-sm" ng-click="moreFlight(flight._id)">See More</button>
	  	</div>
	</div>
</div>
</div>
</div>