<ul class="nav nav-pills nav-justified">
	<li role="presentation"><a href="#/flight_console">Incompleted Flights</a></li>
	<li role="presentation" class="active"><a href="#/postflight_console">Completed Flights</a></li>
</ul>
<br>

<form>
<div class="row">
<div class="form-group col-sm-12">
	<input class="form-control" type="text" placeholder="Search Flight Name" ng-model="searchTerm">
</div>
</div>
</form>


<div class="row">
<div class="col-sm-12">
<div ng-if="noFlightData">
	<div class="alert alert-warning">
	    <strong>No flight data</strong>
	</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div ng-if="flightDataError">
	<div class="alert alert-warning">
	    <strong>Flight data error</strong>
	</div>
</div>
</div>
</div>

<div ng-repeat="flight in flights | filter: searchFilter">
<div class="row">
<div class="col-sm-12">
	<div class="panel panel-default">
  		<div class="panel-heading">
  			<i class="fa fa-plane"></i> {{flight.flight_name}} 
  			<span class="pull-right"><i class="fa fa-clock-o"></i> {{flight.created_at}}</span>
  		</div>
	  	<div class="panel-body">
			<div>
				Remote Controller Charge: <i class="fa fa-battery-{{flight.remote_controller_charge}}"></i>
			</div>
			<div>
				Flight Intelligent Battery: <i class="fa fa-battery-{{flight.intelligent_flight_battery}}"></i>
			</div>
			<div>Top Left Propeller:
				<span ng-if="flight.propeller_0 == 0">Perfect condition</span>
				<span ng-if="flight.propeller_0 == 1">Scratched</span>
				<span ng-if="flight.propeller_0 == 2">Visably cracked or chipped</span>
				<span ng-if="flight.propeller_0 == 3">Large chips or piece missing</span>
			</div>
			<div>Top Right Propeller:
				<span ng-if="flight.propeller_1 == 0">Perfect condition</span>
				<span ng-if="flight.propeller_1 == 1">Scratched</span>
				<span ng-if="flight.propeller_1 == 2">Visably cracked or chipped</span>
				<span ng-if="flight.propeller_1 == 3">Large chips or piece missing</span>
			</div>
			<div>Bottom Left Propeller:
				<span ng-if="flight.propeller_2 == 0">Perfect condition</span>
				<span ng-if="flight.propeller_2 == 1">Scratched</span>
				<span ng-if="flight.propeller_2 == 2">Visably cracked or chipped</span>
				<span ng-if="flight.propeller_2 == 3">Large chips or piece missing</span>
			</div>
			<div>Bottom Right Propeller:
				<span ng-if="flight.propeller_3 == 0">Perfect condition</span>
				<span ng-if="flight.propeller_3 == 1">Scratched</span>
				<span ng-if="flight.propeller_3 == 2">Visably cracked or chipped</span>
				<span ng-if="flight.propeller_3 == 3">Large chips or piece missing</span>
			</div>
			<div>Micro SD Card:
				<i class="fa fa-check" ng-if="flight.micro_sd == 1 || flight.micro_sd == 2"></i>
				<i class="fa fa-close" ng-if="flight.micro_sd == 0"></i>
			</div>
			<div>Gimbal:
				<i class="fa fa-check" ng-if="flight.gimbal == 0"></i>
				<i class="fa fa-close" ng-if="flight.gimbal == 1"></i>
			</div>
	  	</div>
	</div>
</div>
</div>
</div>