<h1> Pre-Flight Checklist </h1>
<h3> Prior to flight, complete the following Pre-Flight Checklist </h3>

<!-- <form>
  <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle2" value="Car"> I have a car 
</form> -->

<table border="3" style="width=100%">
  <tr>
    <td>Question</td>
    <td>Description</td> 
    <td>Answer</td>
  </tr>
  <tr>
    <td>Are all parts of the drone in working condition?</td>
    <td>Check the remote control, the battery, ...</td> 
    <td><input type="radio" name="working" value="Yes"> Yes <input type="radio" name="vehicle2" value="No"> No</td>
  </tr>
    <tr>
    <td>Is the battery at least XX% charged?</td>
    <td>Read the battery level. Consider if you have charged the drone recently or not. </td> 
    <td><input type="radio" name="battery" value="Yes"> Yes <input type="radio" name="battery" value="No"> No</td>
  </tr>
    </tr>
    <tr>
    <td></td>
    <td></td> 
    <td><input type="radio" name="battery" value="Yes"> Yes <input type="radio" name="battery" value="No"> No</td>
  </tr>
  </tr>
    </tr>
    <tr>
    <td></td>
    <td></td> 
    <td><input type="radio" name="battery" value="Yes"> Yes <input type="radio" name="battery" value="No"> No</td>
  </tr>
</table>
 <input type="submit" value="Submit">
   
