<div class="row" style="border-bottom:1px solid #dddddd">
	<h2>Preflight Inspection Registration</h2>
	<p>
		Before the DJI manager can record flight data there needs to be a record of the flight and its inpection. Complete the questions first below to initaite a flight. Avoiding drone flight accidents can be as simple as identifying issues with the drone pre-flight. "*" means a question is required
	</p>
</div>

<form ng-submit="submit()">

	<div class="row" style="border-bottom:1px solid #dddddd">
	<h3>Flight Name</h3>
	<div class="form-group col-sm-6">
		<input type="text" ng-model="name">
	</div>
	</div>

	<div class="row" style="border-bottom:1px solid #dddddd">
	<h3>Battery Charges</h3>
	<div class="form-group col-sm-3">
		<label>* Controller Charge</label>
		<select class="form-control" ng-model="controllerCharge" required>
			<option>0</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</div>
	<div class="form-group col-sm-3">
		<label>* Drone Charge</label>
		<select class="form-control" ng-model="droneCharge" required>
			<option>0</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
	</div>
	</div>

	<div class="row" style="border-bottom:1px solid #dddddd">
	<h3>Propellor Conditions</h3>
	<div class="form-group col-sm-6">
		<label>* Propellor 1</label>
		<select class="form-control" ng-model="propellor1">
			<option>Perfect condition</option>
			<option>Scratched</option>
			<option>Visably cracked or chipped</option>
			<option>Large chips or piece missing</option>
		</select>
	</div>
	<div class="form-group col-sm-6">
		<label>* Propellor 2</label>
		<select class="form-control" ng-model="propellor2">
			<option>Perfect condition</option>
			<option>Scratched</option>
			<option>Visably cracked or chipped</option>
			<option>Large chips or piece missing</option>
		</select>
	</div>
	<div class="form-group col-sm-6">
		<label>* Propellor 3</label>
		<select class="form-control" ng-model="propellor3">
			<option>Perfect condition</option>
			<option>Scratched</option>
			<option>Visably cracked or chipped</option>
			<option>Large chips or piece missing</option>
		</select>
	</div>
	<div class="form-group col-sm-6">
		<label>* Propellor 4</label>
		<select class="form-control" ng-model="propellor4">
			<option>Perfect condition</option>
			<option>Scratched</option>
			<option>Visably cracked or chipped</option>
			<option>Large chips or piece missing</option>
		</select>
	</div>
	</div>

	<div class="row" style="border-bottom:1px solid #dddddd">
	<h3>Miscilanious</h3>
	<div class="form-group col-sm-6">
		<label>* Are the drone's micro SD cards loose?</label>
		<select class="form-control" ng-model="sdCard">
			<option>Yes</option>
			<option>No (they were never loose or I fixed the issue)</option>
		</select>
	</div>
	<div class="form-group col-sm-6">
		<label>* Is the gimbal operational and free of obsticals?</label>
		<select class="form-control" ng-model="gimbal">
			<option>Yes</option>
			<option>No</option>
		</select>
	</div>
	</div>

	<br>

	<div class="row">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
	
</form>
